/out/production/ByteClinicHospital/Especialidade.class
/out/production/ByteClinicHospital/FicheiroMedicos.class
/out/production/ByteClinicHospital/FicheirosSintomas.class
/out/production/ByteClinicHospital/Main.class
/out/production/ByteClinicHospital/Medico.class
/out/production/ByteClinicHospital/Sintomas.class
/out/production/ByteClinicHospital/Utente.class
/out/production/ByteClinicHospital/especialidades.txt
/out/production/ByteClinicHospital/FicheiroEspecialidade.class
/out/production/ByteClinicHospital/FicheiroUtentes.class
/out/production/ByteClinicHospital/medicos.txt
/out/production/ByteClinicHospital/sintomas.txt
